<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        id="br.com.ferreiraz"
        version="0.0.1">
    <name>Full Camera Plugin</name>
    <description>Plugin that unites gallery picking, taking photos and capture videos</description>
    <license>Apache 2.0</license>
    <keywords>cordova,camera, gallery</keywords>
    <repo>https://github.com/SidFerreira/fullCamera.git</repo>
    <issue>https://github.com/SidFerreira/fullCamera/issues</issue>

    <js-module src="www/fullCamera.js" name="fullCamera">
        <clobbers target="navigator.fullCamera" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FullCamera">
                <param name="android-package" value="br.com.ferreiraz.fullCameraLauncher.FullCameraLauncher"/>
            </feature>
        </config-file>

        <source-file src="launchers/FullCameraLauncher.java" target-dir="src/br/com/ferreiraz/fullCameraLauncher" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="br.com.ferreiraz.fullcamera.FullCameraActivity"
            android:label="@string/full_camera" >
        </activity>
        </config-file>

        <framework src="src/android/fullcamera" custom="true" />

    </platform>

</plugin>
